body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header h1 {
    text-align: center;
}

.nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.product {
    text-align: center;
    margin: 20px;
}

.sold {
    display: none;
    color: red;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}