body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.soldText {
    display: none;
    color: red;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% { opacity: 0; }
}
